footer.footer
    .container
        .footer-wrapper
            .footer-left
                .logo
                    img.lazy(data-src="./assets/images/logos/white.png", alt="SVTECH")
                .footer-nav
                    a.nav-item(href="/") Home
                    a.nav-item(href="solutions.html") Solutions
                    a.nav-item(href="data-platform.html") Services
                    a.nav-item(href="about.html") About us
            .footer-right
                .company-infos
                    h3 HEAD OFFICE  (HO CHI MINH CITY)
                    ul
                        li
                            a(href="https://maps.app.goo.gl/zj9cc77rGshYAJwUA")
                                span.material-symbols-outlined location_on
                                p 2A Phan Thuc Duyen, Ward 4, Tan Binh District, Ho Chi Minh City, Vietnam
                        li
                            a(href="tel:+[028] 3 948 7620")
                                span.material-symbols-outlined call
                                p +[028] 3 948 7620
                .footer-copyright
                    | Copyright 
                    span#year 
                    |  © SVTech Global
