meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(http-equiv='X-UA-Compatible' content='IE=edge')

// *** TITLE *** //
title #{title}

// *** META SEO *** //
//- meta(name="description" content="We empower businesses to unlock the full potential through Data & AI")
//- meta(name="keywords" content="SVTECH, system integration, IT solutions, telecommunications services, managed services, cloud computing, network security, digital transformation, Vietnam IT company, Oracle partner, Juniper Networks partner, BMC Software partner")
//- meta(name="author" content="SVTech Global")

//- meta(property="og:title" content="SVTech Global")
//- meta(property="og:description" content="We empower businesses to unlock the full potential through Data & AI")
//- meta(property="og:image" content="./assets/images/thumbnail-preview-website.png")
//- meta(property="og:url" content="https://www.svtech.com/")
//- meta(property="og:type" content="website")

// *** META SEO TWITTER *** //
//- meta(name="twitter:card" content="summary_large_image")
//- meta(name="twitter:title" content="SVTech Global")
//- meta(name="twitter:description" content="We empower businesses to unlock the full potential through Data & AI")
//- meta(name="twitter:image" content="./assets/images/thumbnail-preview-website.png")

// *** FAVICON *** //
link(rel="shortcut icon", href="./assets/images/favicon.ico", type="image/x-icon")

// *** CANONICAL URL *** //
//- link(rel="canonical" href="https://www.svtech.com/")