extends ../layouts/layout

block params
    - page = "data-governance"
    - header_active = "data-governance"
    - title = "Data Governance"
block css
    link(rel="stylesheet", href="./assets/css/data-governance.css")
block js
block main
    section.section-data-governance-hero-title
        .container
            .content-wrraper
                .section-hero-title.my-0
                    h1
                        span(data-text="Data Governance") Data Governance
                        br
                        | as a Service
                    h3 Transform your data management strategy with our proven Data Governance Solutions that ensure compliance, security and high quality data to maximize your business potential.
                .image
                    img.lazy(data-src="./assets/images/data-governance.png", alt="Data Governance")
    section.section-data-governance-features
        .container
            h2 Our Key Features
            .features
                .feature-item
                    .icon
                        img.lazy(data-src="./assets/images/our-feature-1.png", alt="Our Feature")
                    h4 Metadata Management
                    p Automated monitoring and validation ensuring data accuracy and reliability across systems
                .feature-item
                    .icon
                        img.lazy(data-src="./assets/images/our-feature-2.png", alt="Our Feature")
                    h4 Data Quality Management
                    p Centralized metadata repository with advanced cataloging and lineage tracking
                .feature-item
                    .icon
                        img.lazy(data-src="./assets/images/our-feature-3.png", alt="Our Feature")
                    h4 Risk & Privacy Management
                    p Comprehensive data risk assessment and privacy protection mechanisms
                .feature-item
                    .icon
                        img.lazy(data-src="./assets/images/our-feature-4.png", alt="Our Feature")
                    h4 Policy Automation & Control
                    p Streamlined policy implementation with automated enforcement and audit trails
                .feature-item
                    .icon
                        img.lazy(data-src="./assets/images/our-feature-5.png", alt="Our Feature")
                    h4 LLM Integration
                    p Enable users to navigate your  data landscape easily with through simple chat interface
    section.section-data-governance-media-list
        .container
            h2 Immediate Outcomes
            .media-list
                .media-block.has-bg
                    .image
                        img.lazy(data-src="./assets/images/immediate-outcomes-1.png", alt="Operational Cost Optimization")
                    .content
                        h4 Operational Cost Optimization
                        p Let our expert team handle the day-to-day management of your metadata and data assets. Our managed service eliminates the need for dedicated internal resources, reducing operational costs while ensuring best-practice governance. Focus your valuable time on strategic initiatives while we maintain your data governance framework with proven methodologies and hands-on support.
                .media-block.has-bg
                    .image
                        img.lazy(data-src="./assets/images/immediate-outcomes-2.png", alt="Operational Cost Optimization")
                    .content
                        h4 Operational Cost Optimization
                        p Let our expert team handle the day-to-day management of your metadata and data assets. Our managed service eliminates the need for dedicated internal resources, reducing operational costs while ensuring best-practice governance. Focus your valuable time on strategic initiatives while we maintain your data governance framework with proven methodologies and hands-on support.
                .media-block.has-bg
                    .image
                        img.lazy(data-src="./assets/images/immediate-outcomes-3.png", alt="Operational Cost Optimization")
                    .content
                        h4 Operational Cost Optimization
                        p Let our expert team handle the day-to-day management of your metadata and data assets. Our managed service eliminates the need for dedicated internal resources, reducing operational costs while ensuring best-practice governance. Focus your valuable time on strategic initiatives while we maintain your data governance framework with proven methodologies and hands-on support.