.section-data-governance-hero-title {
    margin: 56px 0;
    .content-wrraper {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }
    .image {
        @media (max-width: 1024px) {
            display: none;
        }
    }
    @media (max-width: 576px) {
        margin: 40px 0;
    }
}

.section-data-governance-features {
    margin: 80px 0;
    h2 {
        font-size: 64px;
        font-weight: 400;
        margin-bottom: 40px;
        @media (max-width: 1024px) {
            font-size: 56px;
        }
        @media (max-width: 768px) {
            font-size: 48px;
        }
        @media (max-width: 576px) {
            font-size: 32px;
        }
    }
    .features {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(5, 1fr);
        @media (max-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    @media (max-width: 576px) {
        margin: 40px 0;
    }
}

.section-data-governance-media-list {
    margin: 80px 0;
    h2 {
        font-size: 64px;
        font-weight: 500;
        margin-bottom: 40px;
        @media (max-width: 1024px) {
            font-size: 56px;
        }
        @media (max-width: 768px) {
            font-size: 48px;
        }
        @media (max-width: 576px) {
            font-size: 32px;
        }
    }
    @media (max-width: 576px) {
        margin: 40px 0;
    }
}
