.section-data-platform {
    margin: 80px 0;
    .tabs-bg {
        background-image: url("../images/bg-tabs-data-platform.png");
        background-size: cover;
        background-position: center center;
        height: 204px;
        @media (max-width: 1024px) {
            height: 120px;
        }
        @media (max-width: 768px) {
            height: 80px;
        }
        @media (min-width: 1025px) {
            background-attachment: fixed;
        }
    }
    .tabs {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        padding: 24px;
        background-color: #ffffff;
        box-shadow: 0 0 32px rgba($color: #000000, $alpha: 0.1);
        margin-top: -116px;
        margin-bottom: 80px;
        @media (max-width: 1280px) {
            margin-bottom: 40px;
        }
        @media (max-width: 1024px) {
            margin-top: -56px;
            padding: 16px;
            gap: 16px;
        }
        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
            margin-top: -48px;
            margin-bottom: 32px;
        }
    }
    .tab-button {
        position: relative;
        padding: 24px;
        background-color: transparent;
        text-align: center;
        background-color: var(--color-background);
        transition: 0.15s background-color ease-in-out, 0.15s color ease-in-out;
        &:after {
            content: "";
            border-bottom: 4px solid var(--color-primary);
            left: 0;
            right: 0;
            bottom: -24px;
            position: absolute;
            display: none;
            @media (max-width: 1024px) {
                bottom: -16px;
            }
        }
        &.active {
            color: #ffffff;
            background-color: var(--color-primary-400);
            &::after {
                display: block;
                @media (max-width: 576px) {
                    display: none;
                }
            }
        }
        .icon {
            font-size: 40px;
            @media (max-width: 768px) {
                font-size: 32px;
            }
        }
        h3 {
            font-size: 24px;
            font-weight: 500;
            @media (max-width: 1024px) {
                font-size: 18px;
            }
        }
        &:hover {
            &:not(.active) {
                background-color: var(--color-primary-100);
            }
        }
        @media (max-width: 1024px) {
            padding: 16px;
        }
        @media (max-width: 576px) {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
    .grid-container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 0 64px;
        @media (max-width: 1280px) {
            padding: 0;
            grid-template-columns: 1fr;
        }
        @media (max-width: 576px) {
            gap: 16px;
        }
    }
    .left-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;

        @media (max-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .right-section {
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
        @media (max-width: 1280px) {
            display: none;
        }
    }
    @media (max-width: 576px) {
        margin: 40px 0;
    }
}
