.section-trusted-partner-stats {
    margin: 80px 0;

    .content-wrapper {
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 80px;

        @media (max-width: 1280px) {
            gap: 32px;
        }

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }

    .stats-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }

    .stat-item {
        display: flex;
        gap: 16px;
        align-items: center;
        padding: 8px 16px;
        background-color: var(--color-background);

        h3 {
            font-size: 56px;
            font-weight: 500;

            @media (max-width: 1440px) {
                font-size: 48px;
            }

            @media (max-width: 576px) {
                font-size: 32px;
            }
        }

        h5 {
            font-size: 16px;
            font-weight: 400;

            @media (max-width: 576px) {
                font-size: 14px;
            }
        }

        .item-left {
            padding-right: 16px;
            border-right: 1px solid var(--color-border);
            flex: 0 0 25%;
            max-width: 25%;
        }

        .item-right {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;

            h3 {
                color: var(--color-secondary);

                sup {
                    font-size: 20px;
                    top: -1.5em;

                    @media (max-width: 576px) {
                        font-size: 16px;
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            max-width: 575px;
            width: 100%;
        }
    }

    @media (max-width: 576px) {
        margin: 40px 0;
    }
}

.section-business-sectors {
    margin: 80px 0;

    .tabs {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(5, 1fr);
        border-bottom: 4px solid var(--color-primary-400);

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 16px;
        }
    }

    .tab-button {
        position: relative;
        padding: 24px;
        background-color: transparent;
        margin-bottom: 36px;
        transition: 0.15s background-color ease-in-out;

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            bottom: -32px;
            right: 32px;
            border-left: 24px solid transparent;
            border-right: 24px solid transparent;
            border-top: 32px solid var(--color-primary-400);
            opacity: 0;
            transition: 0.15s opacity ease-in-out;

            @media (max-width: 1024px) {
                bottom: -24px;
                right: 24px;
                border-left-width: 16px;
                border-right-width: 16px;
                border-top-width: 24px;
            }

            @media (max-width: 768px) {
                bottom: -16px;
                right: 16px;
            }

            @media (max-width: 576px) {
                content: none;
            }
        }

        &.active {
            color: #ffffff;
            background-color: var(--color-primary-400);

            &::after {
                opacity: 1;
            }
        }

        h3 {
            font-size: 24px;
            font-weight: 500;
            margin-top: 8px;

            @media (max-width: 1024px) {
                font-size: 18px;
            }

            @media (max-width: 576px) {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }
        }

        img {
            @media (max-width: 576px) {
                aspect-ratio: 1/1;
                flex: 0 0 30%;
                max-width: 30%;
            }
        }

        &:hover {
            &:not(.active) {
                background-color: var(--color-primary-100);
            }
        }

        @media (max-width: 1024px) {
            padding: 16px;
            margin-bottom: 24px;
        }

        @media (max-width: 768px) {
            padding: 8px;
            margin-bottom: 16px;
        }

        @media (max-width: 576px) {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 0;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 24px;
        padding: 24px 16px;
        background-color: var(--color-background);

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }

        @media (max-width: 576px) {
            padding: 16px 8px;
        }
    }

    .left-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .right-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .feature-item {
        .logo {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;

            img {
                width: 100%;
            }
        }
    }

    @media (max-width: 576px) {
        margin: 40px 0;
    }
}