.section-technologies-partners {
    margin: 56px 0;
    .partners-slider {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
    .partners {
        display: flex;
        width: max-content;
        gap: 24px;
        animation: scrollLoop 16s linear infinite;
        img {
            width: 180px;
            @media (max-width: 576px) {
                width: 120px;
            }
        }
        @media (max-width: 576px) {
            gap: 8px;
        }
    }
    @keyframes scrollLoop {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
}

.section-technologies-partners-features {
    margin: 80px 0;
    .section-hero-title {
        max-width: 1190px;
        width: 100%;
        margin: 0 auto;
    }
    .features {
        max-width: 1190px;
        width: 100%;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin: 24px auto 0;
        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 16px;
        }
    }
    @media (max-width: 576px) {
        margin: 40px 0;
    }
}

.section-technologies-partners-media-list {
    margin: 80px 0;
    @media (max-width: 576px) {
        margin: 40px 0;
    }
}
