.section-telecommunication-features {
    margin: -138px 0 80px;
    .features {
        padding: 16px;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0;
            gap: 16px;
        }
    }
    @media (max-width: 768px) {
        margin: 16px 0 80px;
    }
    @media (max-width: 576px) {
        margin: 16px 0 40px;
    }
}

.section-telecommunication-media-list {
    margin: 80px 0;
    @media (max-width: 576px) {
        margin: 40px 0;
    }
}
